
   
nav {
    text-align: right;
    margin-right: 30px; /* Ovo pomera navigaciju malo ulevo */
    margin-right: 30px;
    margin-left: 30px;
    background-color: transparent;
    padding: 10px 0;
    text-align: center;
}


a6{    margin-right: 30px;
    margin-left: 30px;
}


a6:-webkit-any-link {
    color: white;
    padding-right: 20px;
}

nav a:hover {
    text-decoration: underline;
} 
body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #040720; /* Promijenjena boja pozadine na #040720 */
            color: #fff; /* Promijenjena boja teksta u bijelu */
            padding-bottom: 500px; /* Dodajemo dodatni prostor na dnu tijela */

        }
        footer {
            margin-left: auto;
            background-color: #040720;
            color: #fff;
            padding: 10px 0px;
            width: 100%;
            text-align: center;
        }
       
        .naslovna {
            text-align: center;
            padding: 100px 0;
            background: url('pexels-ilya-3291978-5335018.jpg') no-repeat center center; /* Putanja do vaše slike */
            background-position: 0px -265px;
            background-size: cover; /* Kako bi slika prekrila cijelu pozadinu */
            color: #fff; /* Bijela boja teksta */
            position: relative;
        }
        .naslovna::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.5); /* Tamni overlay za bolju čitljivost teksta */
        }
        .naslovna h1, .naslovna p {
            position: relative;
            z-index: 1;
        }
        .naslovna h1 {
            font-size: 36px;
            margin-bottom: 90px;
        }
        .naslovna p {
            font-size: 18px;
            line-height: 1.6;
        }
        .prazan-prostor {
            height: 150px; /* Visina praznog prostora */
            background-color: transparent; /* Transparentna pozadina */
        }
        .sadržaj {
            display: grid; /* Koristimo CSS grid */
            grid-template-columns: repeat(3, 1fr); /* Tri kolone */
            grid-gap: 20px; /* Razmak između elemenata */
            padding: 0 20px; /* Dodan padding kako bi se spriječilo preklapanje sa strane */
        }
        section {
            background-color: #040720; /* Promijenjena boja pozadine na bijelu */
            color: #fff; /* bjela boja teksta u sekcijama */
            padding: 20px;
            border-radius: 5px;
          
            padding: 20px;
            margin: 20px;
            background-color: #040720; /* Promijenjena boja pozadine na bijelu */
            color: #000; /* Crna boja teksta u sekcijama */
            border-radius: 5px;
           
            padding: 20px;
            margin: 20px;
            background-color: #040720; /* Promijenjena boja pozadine na bijelu */
            color: #000; /* Crna boja teksta u sekcijama */
            border-radius: 5px;
            
            flex: 1;
            background-color: #0f172a; /* Promijenjena boja pozadine na bijelu */
            color: #fff; /* bjela boja teksta u sekcijama */
            padding: 0px;
            border-radius: 5px;
           
            margin: 0 0%; /* Ovo postavlja razmak između sekcija */
            max-width: 500px; /* Ovo ograničava širinu svake sekcije na 500px */
            
           
             width: 30%; /* Prilagodite širinu sekcija prema potrebama */
            
            
        
        }
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #040720; /* Promijenjena boja pozadine na #040720 */
            color: #fff; /* Promijenjena boja teksta u bijelu */
            padding-bottom: 500px; /* Dodajemo dodatni prostor na dnu tijela */
        }
       
        .naslovna {
            text-align: center;
            padding: 100px 0;
            background: url('pexels-ilya-3291978-5335018.jpg') no-repeat center center; /* Putanja do vaše slike */
            background-position: 0px -265px;
            background-size: cover; /* Kako bi slika prekrila cijelu pozadinu */
            color: #fff; /* Bijela boja teksta */
            position: relative;
        }
        .naslovna:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.5); /* Tamni overlay za bolju čitljivost teksta */
        }
        .naslovna h1, .naslovna p {
            position: relative;
            z-index: 1;
        }
        .naslovna h1 {
            font-size: 36px;
            margin-bottom: 90px;
        }
        .naslovna p {
            font-size: 18px;
            line-height: 1.6;
        }
        .prazan-prostor {
            height: 150px; /* Visina praznog prostora */
            background-color: #0f172a; /* Transparentna pozadina */
        }
        .sadržaj {
            display: flex; /* Koristimo CSS grid */
            grid-template-columns: repeat(3, 1fr); /* Tri kolone */
            grid-gap: 20px; /* Razmak između elemenata */
            padding: 0 20px; /* Dodan padding kako bi se spriječilo preklapanje sa strane */
            justify-content: center; /* Centriranje horizontalno */
            align-items: center; /* Centriranje vertikalno */
        }
    
       
        
        .rounded-image {
            border-radius: 50%;
            border: 5px solid; color:#685746;
            width: 150px; /* Postavite željenu veličinu slike */
            height: 150px; /* Postavite željenu veličinu slike */
            object-fit: cover; /* Kako bi slika popunila okvir */
            max-width: 100%
        }
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: space-between;
        }
        
        header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 0px;
            background-color: #040720;
            color: #fff;
        }
        
        nav {
            text-align: right;
        
        }
        
        nav a {
            color: #fff;
            text-decoration: none;
            margin-left: 20px;
        }
        
        h1 {
            margin:0 1%;
            padding: 0;
        }
        #kvaliteta {
            
            padding: 40px;
            margin-top: 60px;
        }
        h2 {
            padding: 0; /* Postavi padding na nulu */
            margin: 0; /* Opcionalno postavi margin na nulu ako ne želiš ni margin */
            text-align: center; /* Postavlja horizontalno centriranje */
            width: auto;
        }
        .custom-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            max-width: 100%;
            padding-bottom: 50px; 
        }
        
        .custom-image-container {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            max-width: 100%
            
        }
        .custom-text-container {
            
            flex: 1;
            flex-direction: column;
            
            align-items: end;
            align-content: flex-end;
        }
        
        
        .custom-text-container h1 {
            width: 480px;
            height: 224px;
            margin: 0;
            margin-bottom: -135px;
            font-size: 3em;
            margin-right: 50px;

        }
        .custom-text-container p {
            width:480px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-wrap: wrap;
            margin: 0;
            margin-bottom: 30px;
        }
        .button-container {
            width: 480px ;
            display: flex;
            justify-content: center;
            
        }
        .custom-image {   
             width: 450px;
            height: 536px;
            object-fit: cover;
            margin-left: 0px;
            margin-top: 100px;
            margin-bottom: 100px;
            max-width: 100%
        }

      #suza {
            margin-top: 0px;
        }

.learn-more-button {
    background-color: blue;
    color: white;
    padding: 10px 120px;
    text-decoration: auto;
    border-radius: 20px;
}

.learn-more-button:hover {
    background-color: darkblue;
}
.sekcija {
    text-align: center;
}
.sekcija img {
    display: block;
    margin: 0 auto;
    max-width: 100%
}


.slika {
    max-width: 100%;
    height: auto;

}
body {
    margin: 0;
    display: flex;
   
    background-color: #0f172a;
    flex-direction: column;
        }
        h1 {
            color: white;
            font-size: 2.7em;
            font-weight: bold;
            text-align: center;
        }
        h2{margin-bottom: 30px;}
       h3 {color: #0f172a;
        font-size: 1em;
        font-weight: bold;
        text-align: center;
    }

 .custom-container2 {
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 100%
}

.custom-image-container2 {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    max-width: 100%
    
}
.custom-text-container2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* padding-left: 20px; */
    align-items: end;
    align-content: flex-end;
    /* margin-left: 40px; */
}


.custom-text-container2 h1 {
    width: 480px;
    height: 224px;
    margin: 0;
    margin-bottom: -135px;
    font-size: 3em;
   
}
 .custom-text-container2 p {
    width: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 30px;
}
 .button-container2 {
    width: 480px;
    display: flex;
    justify-content: center;
}
.custom-image2 {   
    width: 480px;
    height: 500px;
    object-fit: cover;
    margin-left: 0px;
    margin-top: 100px;
    max-width: 100%;
}

p {
    font-size: 20px;
}


.sadržaj {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Razmak između sekcija */
}

.sadržaj section {
    width: 500px;
    box-sizing: border-box;
}


p {
    font-size: 20px;
    text-align: center; /* Centriranje teksta unutar <p> elementa */
    margin: 50px;
    display: flex;
    justify-content: center; /* Centriranje sadržaja horizontalno */
    align-items: center; /* Centriranje sadržaja vertikalno */
    flex-direction: row; /* Po default-u je row, ali možeš navesti radi jasnoće */
}





/* Stilovi za ekrane manje od 1024px */
@media (max-width: 1024px) {
    .sadržaj {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .sadržaj section {
        width: 100%;
        box-sizing: border-box;
    }
    
    .naslovna::before {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .slika {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    
    .button-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .custom-text-container h1,
    .custom-container2 h1 {
        width: 100%;
        margin: 0;
        margin-bottom: -135px;
        font-size: 2.5em;
        text-align: center;
    }

    .custom-container2 p {
        width: 100%;
        text-align: center;
        margin: 0 0 30px 0;
    }
    
    h2 {
        padding: 0;
        margin: 0;
        text-align: center;
        width: 100%;
    }
    .custom-text-container p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        margin: 0;
        /* width: 480px; */
        margin-bottom: 30px;
    }
    nav6 {
        text-align: right;
        margin-right: 30px;
        margin-left: 0px;
        display: inline-grid;
       
        gap: 10px;
    }
    a:-webkit-any-link {
        color: white;
        padding-right: 0px;
    }
}

/* Stilovi za ekrane manje od 768px */
@media (max-width: 768px) {
    .sadržaj {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .sadržaj section {
        width: 100%;
        box-sizing: border-box;
    }
    
    .naslovna::before {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .slika {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    
    .button-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .custom-text-container h1,
    .custom-container2 h1 {
        width: 100%;
        margin: 0;
        margin-bottom: -135px;
        font-size: 2em;
        text-align: center;
    }

    .custom-container2 p {
        width: 100%;
        text-align: center;
        margin: 0 0 30px 0;
    }
    .custom-text-container p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        margin: 0;
        /* width: 480px; */
        margin-bottom: 30px;
    }
    
    h2 {
        padding: 0;
        margin: 0;
        text-align: center;
        width: 100%;
    }
    nav6 {
        text-align: right;
        margin-right: 30px;
        margin-left: 0px;
        display: inline-grid;
        
        gap: 10px;
    }
    a:-webkit-any-link {
        color: white;
        padding-right: 0px;
    }
}
    

/* Stilovi za ekrane manje od 480px */
@media (max-width: 480px) {
    .sadržaj {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .custom-container {
        display: flex;
        
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        max-width: 100%;
    }

    .custom-container2 {
        display: flex;
        padding: 20px;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
        max-width: 100%;
    }

    .sadržaj section {
        width: 100%;
        box-sizing: border-box;
    }
    
    .naslovna::before {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .slika {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    
    .button-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .custom-text-container2 {
        flex: 1;
        display: flex;
        flex-direction: column;
        
        align-items: center;
        align-content: center;
        width: 412px;
    }

    .custom-text-container h1{ 
        width: 100%;
        margin: 0;
        margin-bottom: -135px;
        font-size: 1.5em;
        text-align: center;
    }

    .custom-container2 h1 {
        width: 412px;
        margin: 0;
        margin-bottom: -135px;
        font-size: 1.5em;
        text-align: center;
    }

   

    .custom-container2 p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        margin: 0;
        width: 100%;
        margin-bottom: 30px;
    }
    
    .custom-container2 p span {
        display: inline-block;
        text-align: left; /* Poravnavanje teksta na lijevi rub ekrana */
    }
    
    h2 {
        padding: 0;
        margin: 0;
        text-align: center;
        width: 100%;
    }
  
    .custom-text-container p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        margin: 0;
        width: 100%; /* Svi elementi će biti iste širine */
        margin-bottom: 30px;
    }
    #suza {
        margin-top: 150px;
    }

    .button-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
   
    .button-container2 {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        align-content: center;
        align-items: center;
        justify-content: space-between;
    }
    nav6 {
        text-align: right;
        margin-right: 30px;
        margin-left: 0px;
        display: inline-grid;
        
        gap: 10px;
    }
    a:-webkit-any-link {
        color: white;
        padding-right: 0px;
    }
}

 


/* Stilovi za ekrane manje od 360px */
@media (max-width: 360px) {
    .custom-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .custom-image-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
    }
    
    .custom-text-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    .custom-text-container p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        margin: 0;
        
        margin-bottom: 30px;
    }

    .custom-text-container h1{
        width: 100%;
        margin: 0;
        margin-bottom: -135px;
        font-size: 1.2em;
        text-align: center;
    }
    
    .custom-text-container2 h1 {
        max-width: 360px;
        width: 100%;
        margin: 0;
        margin-bottom: -135px;
        font-size: 1.2em;
        text-align: center;
    }

    .custom-container2 p {
        max-width: 360px;
        width: 100%;
        text-align: center;
        margin: 0 0 30px 0;
    }
    
    .custom-text-container p {
        width: 100%;
        text-align: center;
        margin: 0 0 30px 0;
    }
    
    .button-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .button-container2 {
        max-width: 360px;
         width: 100%;
        display: flex;
        justify-content: center;
    }
    
    nav {
        width: 100%;
        text-align: right;
    }
    nav6 {
        text-align: right;
        margin-right: 30px;
        margin-left: 0px;
        display: inline-grid;
        padding-left: 20px;
        gap: 10px;
    }
    a:-webkit-any-link {
        color: white;
        padding-right: 0px;
    }
    .custom-text-container2 {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 360px;
    }








    .back-section {
        position: absolute; /* Pozicija iznad ostalog sadržaja */
        top: 10px; /* Razmak od vrha */
        right: 100px; /* Razmak od desnog ruba */
        font-size: 28px; /* Veličina fonta */
        color: #aaa; /* Boja teksta */
        cursor: pointer; /* Promjena kursora na pointer */
    }
    
    .back-section:hover {
        color: blue; /* Promjena boje na hover */
    }
    






}





h4 {
   
    text-align: center; /* Centriranje teksta */
    
    font-family: Arial, sans-serif; /* Font porodica */
    font-size: 24px; /* Veličina fonta */
    margin: 20px 0; /* Margin oko h3 elementa */
}













 
    .product-container {
        
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    flex-direction: row;
    align-items: center;

}

    .product {
     
        cursor: pointer;
    }

    .product img {
        width: 500px; /* Slika zauzima punu širinu unutar proizvoda */
        height: 500px; /* Održava proporcije slike */
        padding-bottom: 5px;
        padding-top: 5px;
        
       

    }

    .modal-toggle {
        display: none; /* Sakrij checkbox */
    }

    .modal {
        display: none; /* Sakrij modal po defaultu */
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7); /* Tamna pozadina s prozirnošću */
    }

    .modal-content {
        background-color: #524e4e; /* Boja zelene masline */
        color: black; /* Crna slova */
        margin: 10% auto;
        padding: 20px;
        width: 60%; /* Širina modala */
        border: 1px solid #888;
        display: flex; /* Flexbox za raspored slike i teksta */
        gap: 20px; /* Razmak između slike i teksta */
        align-items: center; /* Poravnanje središnje */
        height: 70%; /* Visina modala */
    }

    .modal-image {
        width: 100%; /* Slika u modalu 100% širine */
        height: 100%; /* Slika u modalu 100% visine */
        object-fit: cover; /* Održava proporcije slike bez izobličenja */
        

    }
    .modal-text {
        flex: 1; /* Ostatak prostora ide tekstu */
    }

    .modal h2, .modal p {
        margin: 10px 0; /* Margina između naslova i opisa */
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }

    .close:hover {
        color: black;
    }


    element.style {
        height: 166.5px;
        width: auto;
    }







    h5 {
        padding: 0; /* Postavi padding na nulu */
        margin: 0; /* Opcionalno postavi margin na nulu ako ne želiš ni margin */
        text-align: left; /* Postavlja horizontalno centriranje */
        width: auto;
        padding-left: 60px;
        font-size: 50px;
        padding-bottom: 30px;
        padding-top: 30px;
    }




