
 nav {
    background-color: transparent;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
}

nav a:hover {
    text-decoration: underline;
} 
body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #040720; /* Promijenjena boja pozadine na #040720 */
            color: #fff; /* Promijenjena boja teksta u bijelu */
            padding-bottom: 500px; /* Dodajemo dodatni prostor na dnu tijela */

        }
        footer {
            margin-left: auto;
            background-color: #040720;
            color: #fff;
            padding: 10px 0px;
            width: 100%;
            text-align: center;
        }
        section {
            padding: 20px;
            margin: 20px;
            background-color: #040720; /* Promijenjena boja pozadine na bijelu */
            color: #000; /* Crna boja teksta u sekcijama */
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .naslovna {
            text-align: center;
            padding: 100px 0;
            background: url('pexels-ilya-3291978-5335018.jpg') no-repeat center center; /* Putanja do vaše slike */
            background-position: 0px -265px;
            background-size: cover; /* Kako bi slika prekrila cijelu pozadinu */
            color: #fff; /* Bijela boja teksta */
            position: relative;
        }
        .naslovna::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.5); /* Tamni overlay za bolju čitljivost teksta */
        }
        .naslovna h1, .naslovna p {
            position: relative;
            z-index: 1;
        }
        .naslovna h1 {
            font-size: 36px;
            margin-bottom: 90px;
        }
        .naslovna p {
            font-size: 18px;
            line-height: 1.6;
        }
        .prazan-prostor {
            height: 150px; /* Visina praznog prostora */
            background-color: transparent; /* Transparentna pozadina */
        }
        .sadržaj {
            display: grid; /* Koristimo CSS grid */
            grid-template-columns: repeat(3, 1fr); /* Tri kolone */
            grid-gap: 20px; /* Razmak između elemenata */
            padding: 0 20px; /* Dodan padding kako bi se spriječilo preklapanje sa strane */
        }
        section {
            background-color: #040720; /* Promijenjena boja pozadine na bijelu */
            color: #fff; /* bjela boja teksta u sekcijama */
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #040720; /* Promijenjena boja pozadine na #040720 */
            color: #fff; /* Promijenjena boja teksta u bijelu */
            padding-bottom: 500px; /* Dodajemo dodatni prostor na dnu tijela */
        }
        section {
            padding: 20px;
            margin: 20px;
            background-color: #040720; /* Promijenjena boja pozadine na bijelu */
            color: #000; /* Crna boja teksta u sekcijama */
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .naslovna {
            text-align: center;
            padding: 100px 0;
            background: url('pexels-ilya-3291978-5335018.jpg') no-repeat center center; /* Putanja do vaše slike */
            background-position: 0px -265px;
            background-size: cover; /* Kako bi slika prekrila cijelu pozadinu */
            color: #fff; /* Bijela boja teksta */
            position: relative;
        }
        .naslovna:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.5); /* Tamni overlay za bolju čitljivost teksta */
        }
        .naslovna h1, .naslovna p {
            position: relative;
            z-index: 1;
        }
        .naslovna h1 {
            font-size: 36px;
            margin-bottom: 90px;
        }
        .naslovna p {
            font-size: 18px;
            line-height: 1.6;
        }
        .prazan-prostor {
            height: 150px; /* Visina praznog prostora */
            background-color: #0f172a; /* Transparentna pozadina */
        }
        .sadržaj {
            display: flex; /* Koristimo CSS grid */
            grid-template-columns: repeat(3, 1fr); /* Tri kolone */
            grid-gap: 20px; /* Razmak između elemenata */
            padding: 0 20px; /* Dodan padding kako bi se spriječilo preklapanje sa strane */
            justify-content: center; /* Centriranje horizontalno */
            align-items: center; /* Centriranje vertikalno */
        }
    
        section {
            flex: 1;
            background-color: #0f172a; /* Promijenjena boja pozadine na bijelu */
            color: #fff; /* bjela boja teksta u sekcijama */
            padding: 0px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: 0 2%; /* Ovo postavlja razmak između sekcija */
    max-width: 500px; /* Ovo ograničava širinu svake sekcije na 500px */
        }
        
        .rounded-image {
            border-radius: 50%;
            border: 5px solid; color:#685746;
            width: 150px; /* Postavite željenu veličinu slike */
            height: 150px; /* Postavite željenu veličinu slike */
            object-fit: cover; /* Kako bi slika popunila okvir */
            max-width: 100%
        }
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: space-between;
        }
        
        header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0px;
            background-color: #040720;
            color: #fff;
        }
        
        nav {
            text-align: right;
            margin:0 1%;
        }
        
        nav a {
            color: #fff;
            text-decoration: none;
            margin-left: 20px;
        }
        
        h1 {
            margin:0 1%;
            padding: 0;
        }
        #kvaliteta {
            
            padding: 40px;
            margin-top: 60px;
        }
        h2 {
            padding: 0; /* Postavi padding na nulu */
            margin: 0; /* Opcionalno postavi margin na nulu ako ne želiš ni margin */
            text-align: center; /* Postavlja horizontalno centriranje */
            width: 500px;
        }
        .custom-container {
            display: flex;
            padding: 20px;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            max-width: 100%
        }
        
        .custom-image-container {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            max-width: 100%
            
        }
        .custom-text-container {
            
            flex: 1;
            flex-direction: column;
            padding-left: 20px;
            align-items: end;
            align-content: flex-end;
        }
        
        
        .custom-text-container h1 {
            width: 480px;
            height: 224px;
            margin: 0;
            margin-bottom: -135px;
            font-size: 3em;
            margin-right: 50px;

        }
        .custom-text-container p {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-wrap: wrap;
            margin: 0;
            width: 480px;
            margin-right: 45px;
            margin-bottom: 30px;
        }
        .button-container {
            width: 480px ;
            display: flex;
            justify-content: center;
            margin-right: 50px;
        }
        .custom-image {   
             width: 450px;
            height: 536px;
            object-fit: cover;
            margin-left: 0px;
            margin-top: 100px;
            margin-bottom: 100px;
            max-width: 100%
        }

.learn-more-button {
    background-color: blue;
    color: white;
    padding: 10px 120px;
    text-decoration: auto;
    border-radius: 20px;
}

.learn-more-button:hover {
    background-color: darkblue;
}
.sekcija {
    text-align: center;
}
.sekcija img {
    display: block;
    margin: 0 auto;
    max-width: 100%
}
section {
    width: 30%; /* Prilagodite širinu sekcija prema potrebama */
}

.slika {
    max-width: 100%;
    height: auto;
}
body {
    margin: 0;
    display: flex;
    height: 100vh;
    background-color: #0f172a;
    flex-direction: column;
        }
        h1 {
            color: white;
            font-size: 3em;
            font-weight: bold;
            text-align: center;
        }
        h2{margin-bottom: 30px;}
       h3 {color: #0f172a;
        font-size: 1em;
        font-weight: bold;
        text-align: center;
    }

 .custom-container2 {
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 100%
}

.custom-image-container2 {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    max-width: 100%
    
}
.custom-text-container2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    align-items: end;
    align-content: flex-end;
    margin-left: 40px;
}


.custom-text-container2 h1 {
    width: 480px;
    height: 224px;
    margin: 0;
    margin-bottom: -135px;
    font-size: 3em;
    margin-right: 50px;
    margin-left: 40px;
}
 .custom-text-container2 p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 0;
    width: 480px;
    margin-right: 45px;
    margin-bottom: 30px;
 }
.button-container2 {
    width: 480px ;
    display: flex;
    justify-content: center;
    margin-right: 50px;
}
.custom-image2 {   
    width: 480px;
    height: 500px;
    object-fit: cover;
    margin-left: 0px;
    margin-top: 100px;
    max-width: 100%;
}

p {
    font-size: 20px;
}


.sadržaj {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Razmak između sekcija */
}

.sadržaj section {
    width: 500px;
    box-sizing: border-box;
}


p {
    font-size: 20px;
    text-align: center; /* Centriranje teksta unutar <p> elementa */
    margin: 50px;
    display: flex;
    justify-content: center; /* Centriranje sadržaja horizontalno */
    align-items: center; /* Centriranje sadržaja vertikalno */
    flex-direction: row; /* Po default-u je row, ali možeš navesti radi jasnoće */
}





/* Stilovi za ekrane manje od 480px */
@media (max-width: 398px) {
    .sadržaj {
        flex-direction: column;
        align-items: center;
    }

    .sadržaj section {
        width: 100%;
    }
    .naslovna::before{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .slika {
        max-width: 100%;
        width: 410px;
    }
    .sadržaj section {
        
        box-sizing: border-box;
    }

}
   



@media (max-width: 768px) {
    .custom-container {
        flex-direction: column;
    }

    .custom-image-container, .custom-text-container {
        flex: 1 1 100%;
    }
}